@font-face {
	font-family: 'arial-mt';
	src: url('../../fonts/arial-mt.eot');
	src: local('☺'), url('../fonts/arial-mt.woff') format('woff'), url('../fonts/arial-mt.ttf') format('truetype'), url('../fonts/arial-mt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arial-boldMT';
	src: url('../../fonts/Arial-BoldMT.eot');
	src: local('☺'), url('../fonts/Arial-BoldMT.woff') format('woff'), url('../fonts/Arial-BoldMT.ttf') format('truetype'), url('../fonts/Arial-BoldMT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arial';
	src: url('../../fonts/arial.eot');
	src: local('☺'), url('../fonts/arial.woff') format('woff'), url('../fonts/arial.ttf') format('truetype'), url('../fonts/arial.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
box-sizing: border-box;

}

html{
	padding: 264px 0px 0px 321px;
	
}

.header__title {
	font-size: 14px;
	color: #555;
	font-weight: 400;
	font-family: 'arial-mt';

}

.header__elem__top {
	color: #003366;
}

.header__elem__main__tittle {
	margin-top: 44px;
	font-size: 24px;
	color: #111111;
	font-family:arial;
	font-weight: 700;
}

.header__elem__price__tittle {
	margin-top: 64px;
	font-size: 24px;
	color: #0066cc;
}

.main__info {
	margin-top: 35px; 
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	font-family: "arial-mt";
	color: #000000;
	letter-spacing: 0.56px;
	}

 .main__descr {
	color: #333366;
	font-weight: 400;
}

.main__text {
	
	font-family: "arial-mt";
	color: #666666;

}

.main__paragraph {
	margin-top: 35px;
	line-height: 21px;
	font-size: 12px;
	white-space: pre-line;
 	
 }


.main__word {
	font-weight: 700;
	font-family: 'arial-boldMT';
	color: #000;
}

.main__list {
	list-style-position: inside;
	margin-top: 25px;
	line-height: 24px;
	font-size: 12px;
	color: #666666;
}


.main__form__title {
	margin-top: 40px;
	color:#111;
	font-weight: 400;
	font-size: 14px;
	font-family: 'arial-boldMT';
	
}


.main__title1 {
	margin-left: 143px;
	
}

.main__title2 {
	margin-left: 163px;
}



.main__forms {
	margin-top: 20px;
}

#main__select__color,
#main__select__size
 {
 	color:#8d8d8d;
 	font-family: "arial-mt";
 	font-size: 13px;
 	font-weight: 400;
 	width: 168px;
	height: 35px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #e1e1e1;
}

.form2,
.form3 {
	padding-left: 26px;
}

#main__select_qnt
{
 	color:#8d8d8d;
 	font-family: "arial-mt";
 	font-size: 14px;
 	font-weight: bold;
 	width: 70px;
	height: 35px;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #e1e1e1;

}

input[type="number"]::-webkit-inner-spin-button {
        opacity: 1;
    }

.clear__forms {
	margin-top: 40px;
	font-size: 12px;
	background-color: #fff;
	color:#663333;
	text-decoration: underline;
	font-family: "arial-mt";

}

.footer__buttons {
	margin-top: 38px;
	margin-bottom: 341px;
}

.text_button1
 {
	padding: 18px 56px 18px 62px;
	font-family: 'arial-boldMT';
	background-color: #111;
	font-weight: 400;
   	font-size: 14px;
    color: #fff;
    border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

.button2 {
	margin-left: 20px;
}

.text_button2 {
	padding: 18px 46px 18px 54px;
	font-family: 'arial-boldMT';
	background-color: #fff;
	font-weight: 400;
	font-size: 14px;
	color:#111;
	border-width: 1px;
	border-style: solid;
	border-color: #e1e1e1;
}

